<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
   
</head>
<body>
    <h1>Signin</h1>
    <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>
        {% endif %}

        <div>
            <button type="submit">Sign in</button>
        </div>
    </form>

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</body>
</html>
